<div id="templatemo_sidebar">
    	
        <h2>Latest <span>News</span></h2>
        <div class="newsbox">
        	<div class="news_image"><span></span><img src="<%= image_path 'templatemo_image_04.png' %>" alt="image" /></div>
            <p>Aenean cursus. Maecenas aliqu am, ligula id egestas suscipit, nisi sapien dignissim. </p>
            <div class="cleaner"></div><div class="readmore"><a href="#">read more</a></div>
        </div>
        <div class="newsbox">
        	<div class="news_image"><span></span><img src="<%= image_path 'templatemo_image_05.png' %>" alt="image" /></div>
            <p>estibulum ullamcorper eros vel lectus sagittis aliquet aliquam ante pretium. </p>
            <div class="cleaner"></div><div class="readmore"><a href="#">read more</a></div>
        </div>
        <div class="newsbox">
        	<div class="news_image"><span></span><img src="<%= image_path 'templatemo_image_06.png' %>" alt="image" /></div>
            <p>Praesent pretium purus ut lorem luctus ornare interdum diam eleifend. </p>
            <div class="cleaner"></div><div class="readmore"><a href="#">read more</a></div>
        </div>
        
        <div id="testimonial_newsletter">
            <div id="testimonial"> 
                <h2>Testimonial</h2>
                <p><img class="open" src="<%= image_path 'open.png' %>" alt="opening tag" />urabitur adipiscing tellus eu arcu tincidunt condimentum. Aliquam ipsum felis, pulvinar at lacinia at, commodo ut nisi. Nullam egestas fermentum nis.<img class="close" src="<%= image_path 'close.png' %>" alt="closing tag" /></p>
                <cite class="float_r"><a href="#">Vestibulum</a></cite>            </div>
            
            <div id="newsletter">
            	<h2>Newsletter</h2>
                <form action="#" method="get">
                
                	<input type="text" id="newsletter_email" />
                    <input type="submit" name="submit" value="Subscribe" id="newsletter_subscribe" />
                </form>
            </div>
    	</div>
        
    </div> <!-- end of slider -->